.container {
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
}

@media only screen and (min-width: 500px) {
    .container {
        max-width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

.section {
    margin: 100px 0;
}
